@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.2s;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

// utility classes

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
    font-family: "Raleway", sans-serif;
}
