.Background {
    position: absolute;
    top: 10rem;
    left: 12rem;
    z-index: -1;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
    justify-content: center;
    align-items: center;

    img {
        max-inline-size: 100%;
        block-size: auto;
        height: 25rem;
    }
}
